/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: dotted gray 1px; */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --color-primary-strong-cyan: hsl(172, 67%, 45%);
  --color-very-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-cyan: hsl(183, 79%, 24%);
  --color-light-cyan: hsl(173, 60%, 76%);
  --color-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-grayish-cyan: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-very-light-grayish-cyan: hsl(189, 41%, 97%);
  font-family: 'Space Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  padding-top: 1.6rem;
  background-color: var(--color-light-grayish-cyan);
}

.logo {
  margin: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.6rem;
  border-radius: 20px 20px 0 0;
  background-color: white;
  padding: 1.6rem;
  width: 375px;
}

.data-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.6rem;
}

h1 {
  font-size: 1rem;
  color: var(--color-dark-grayish-cyan);
}

.input-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-very-light-grayish-cyan);
  padding: 0 1rem;
  border-radius: 5px;
  border: solid 2px var(--color-very-light-grayish-cyan);
}

.input-line:hover {
  border: solid 2px var(--color-primary-strong-cyan);
  cursor: pointer;
}

.input-icon {
  height: 1rem;
}

input {
  border: none;
  background-color: var(--color-very-light-grayish-cyan);
  text-align: right;
  color: var(--color-grayish-cyan);
  font-size: 1.5rem;
  font-weight: 700;
  width: 50%;
}

input:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}


.select-tip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1rem 2.7rem 2.7rem 2.7rem;
  gap: 1rem 1rem;

}

.select-tip-subheader {
  grid-column: span 2;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--color-very-dark-cyan);
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  height: 2.7rem;
  padding: 0;
}

button:hover {
  background-color: var(--color-light-cyan);
  color: var(--color-very-dark-cyan);
}

.button-selected {
  background-color: var(--color-primary-strong-cyan);
  color: var(--color-very-dark-cyan);
}

.custom-tip {
  height: 2.7rem;
  padding: 0;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  color: var(--color-dark-grayish-cyan);
}

.custom-tip:hover {
  border: solid 2px var(--color-primary-strong-cyan);
}

.people-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.zero-division-error {
  display: none;
  color: red;
  font-weight: 700;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--color-very-dark-cyan);
  border-radius: 10px;
}

.result-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-type {
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.per-person {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-grayish-cyan);
}

.result-value {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary-strong-cyan);
}

.reset-button {
  background-color: var(--color-dark-cyan);
  color: var(--color-very-dark-cyan);
}

@media only screen and (min-width: 376px) {

  .logo {
    margin: 3rem;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    border-radius: 20px;
    width: 750px;
  }

  .data-entry {
    width: 50%;
  }

  .select-tip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1rem 2.7rem 2.7rem;
  }

  .select-tip-subheader {
    grid-column: span 3;
  }

  .results {
    width: 50%;
    justify-content: start;
  }

  .reset-button {
    margin-top: 50px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}