/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: dotted gray 1px; */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-primary-strong-cyan: hsl(172, 67%, 45%);
  --color-very-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-cyan: hsl(183, 79%, 24%);
  --color-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-grayish-cyan: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-very-light-grayish-cyan: hsl(189, 41%, 97%);
  font-family: 'Space Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  padding-top: 1.6rem;

  background-color: var(--color-light-grayish-cyan);
}

.logo {
  margin: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.6rem;
  border-radius: 20px 20px 0 0;
  background-color: white;
  width: 100%;
  padding: 1.6rem;
}

h1 {
  font-size: 1rem;
  color: var(--color-dark-grayish-cyan);
}

.input-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-very-light-grayish-cyan);
  padding: 0 1rem;
  border-radius: 5px;
}

.input-icon {
  height: 1rem;
}

input {
  border: none;
  background-color: var(--color-very-light-grayish-cyan);
  text-align: right;
  color: var(--color-grayish-cyan);
  font-size: 1.5rem;
  font-weight: 700;
  width: 50%;
}

.select-tip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1rem 2.7rem 2.7rem 2.7rem;
  gap: 1rem 1rem;

}

.select-tip-subheader {
  grid-column: span 2;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--color-very-dark-cyan);
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  height: 2.7rem;
}

.custom-button {
  background-color: var(--color-very-light-grayish-cyan);
  color: var(--color-dark-grayish-cyan);
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--color-very-dark-cyan);
  border-radius: 10px;
}

.result-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-type {
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.per-person {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-dark-grayish-cyan);
}

.result-value {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary-strong-cyan);
}

.reset-button {
  background-color: var(--color-dark-cyan);
  color: var(--color-very-dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}